//Define the font of the landing page
$web-title-font: PingFang TC, Microsoft Yahei, sans-serif !default; 
$web-content-font: PingFang TC, Microsoft Yahei, sans-serif !default;

//Define the color of the landing page
$sub-color: #3eadb9;
$main-color: #46C1CF;
$title-color: #fdb2cc;
$bg-color-dark: #ebebeb;
$bg-black: #000000;
$bg-post: #B6E1E8;
$btn-color: #989898;
$text-main-deep-dark: #323232;
$text-deep-dark: #4A4A4A ;
$text-dark: #6F6F6F;
$text-color-dark: #626262;
$text-color-white: #ffffff;
$text-color-light: #f9f9f9;
$text-title-light: #7DD3DD;
$btn-scroll-color: #f6e0d5;
$btn-shadow: #b7456d;
$btn-logbefore-color: #ec90b0;
$btn-pink: #E8759D;
$border-input: #c1c1c1;

//Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min: 480px !default;

// Small screen / tablet
$screen-sm-min: 780px !default;

// Medium screen / desktop
$screen-md-min: 995px !default;

// Large screen / wide desktop
$screen-lg-min: 1200px !default;

// Large scree / wider desktop
$screen-lg-med: 1600px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
